.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;

    &__link {
        color: #ffffff;
        font-size: 15px;
        font-weight: 300;

        &:hover {
            text-decoration: none;
            color: $main-color;
        }
    }

    &__item {
        border-right: 2px dotted #000000;
        padding-right: 38px;

        &:last-child {
            border-right: none;
        }
    }
}